body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 8px;
    grid-template-areas:
        "power"
        "picker"
        "submit"
}

.submit-container {
    grid-area: submit;
    height: 75px;
}

.power-button-container {
    grid-area: power;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 8px;
}

.circle-button {
    
}

.color-picker-container {
    grid-area: picker; 
}

.slider {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    margin: 16px;
}

.color-box {
    width: 24px;
    height: 24px;
}

#red-box {
    background-color: red;
}

#green-box {
    background-color: green;
}

#blue-box {
    background-color: blue;
}

.submit-button-container {
    width: 100%;
    display: flex;
    margin: 16px;
    justify-content: center;
}

.submit-button {
    width: 50vw;
}