.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto;
    grid-gap: 8px;
    grid-template-areas:
        "status"
        "actions"
        "picker"
}

.status-container {
    grid-area: status;
    height: 75px;
}

.power-button-container {
    grid-area: actions;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows 1fr;
    grid-gap: 8px;
}

.power-button {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.color-picker-container {
    grid-area: picker; 
}

.slider {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    margin: 16px;
}

.color-box {
    width: 24px;
    height: 24px;
}

#red-box {
    background-color: red;
}

#green-box {
    background-color: green;
}

#blue-box {
    background-color: blue;
}

.submit-button-container {
    width: 100%;
    display: flex;
    margin: 16px;
    justify-content: center;
}

.submit-button {
    width: 50vw;
}