<html>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/index.js"></script>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="main-container">
            <div class="status-container">
                <div class="status"></div>
            </div>
            <div class="power-button-container">
                <div class="power-button" id="on-button">
                    <span>On<span>
                </div>
                <div class="power-button" id="off-button">
                    <span>Off<span>
                </div>
            </div>
            <div class="color-picker-container">
                <input type="color" id="color-picker" value="#fdffff">
            </div>
        </div>
    <body>
<html>