<html>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/index.js"></script>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="main-container">
            <div class="power-button-container">
                <button type="button" class="circle-button" id="toggle-button">On/Off</button>
            </div>
            <div class="color-picker-container">
                <div class="slider-container">
                    <div class="slider">
                        <input type="range" class="lg-slider" id="red-range" min="0" max="255">
                        <input type="number" id="red-val" min="0" max="255">
                        <div class="color-box" id="red-box"></div>
                    </div>
                    <div class="slider">
                        <input type="range" class="lg-slider" id="green-range" min="0" max="255">
                        <input type="number" id="green-val" min="0" max="255">
                        <div class="color-box" id="green-box"></div>
                    </div>
                    <div class="slider">
                        <input type="range" class="lg-slider" id="blue-range" min="0" max="255">
                        <input type="number" id="blue-val" min="0" max="255">
                        <div class="color-box" id="blue-box"></div>
                    </div>
                </div>
            </div>
            <div class="submit-container">
                <div class="status-container">
                    <div class="status"></div>
                </div>
                <div class="submit-button-container">
                    <button type="button" class="circle-button" id="submit-button">Submit</button>
                </div>
            </div>
        </div>
    <body>
<html>